.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}


.card{
    padding: 10px;
}
.card-image img{
  height: 140px;
  width : auto;
}


.card-title{
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.project-card-head {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  justify-content: space-between;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.saaya-health-div,
.nextu-div {
  cursor: pointer;
}

@media (max-width: 768px) {
  .starup-project-image {
    display: none;
  }
  .card-image img{
    height: 140px;
    width : 100%;
  }
  .project-subtitle{
    font-size: 16px;
    text-align: center;
  }
}
